<table>
  <tr>
    <td>Spiel</td>
    <th *ngFor="let spieler of spieler">{{ spieler }}</th>
  </tr>
  <tr class="empty"></tr>
  <tr *ngFor="let spiel of spiele">
    <th>{{ spiel.name }}</th>
    <td *ngFor="let spieler of spieler">
      <div class="punkte">
        <div
          *ngFor="let e of spiel.ergebnisse"
          (click)="setErgebnis(spieler, spiel, e.points)"
        >
          <div
            *ngIf="e.points >= 0"
            [class]="getErgebnis(spieler, spiel) === e.points ? 'selected' : ''"
          >
            {{ e.points }}
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr class="empty"></tr>
  <tr>
    <td>Gesamt</td>
    <td *ngFor="let spieler of spieler">{{ getGesamt(spieler) }}</td>
  </tr>
</table>
