<table>
  <tr>
    <td>Spiel</td>
    <th *ngFor="let spieler of spieler">
      <input [(ngModel)]="spieler" />{{ spieler }}
    </th>
  </tr>
  <tr class="empty"></tr>
  <tr *ngFor="let spiel of spiele">
    <th>{{ spiel.name }}</th>
    <td *ngFor="let spieler of spieler">
      <div class="punkte">
        <div *ngFor="let e of spiel.ergebnisse">
          <div (click)="setErgebnis(spieler, spiel, e.points)">
            <mark
              [class]="'selected-' + spieler"
              *ngIf="e.points >= 0 && isErgebnis(spieler, spiel, e.points)"
              >{{ e.points }}</mark
            >
            <span
              *ngIf="e.points >= 0 && !isErgebnis(spieler, spiel, e.points)"
              >{{ e.points }}</span
            >
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr class="empty"></tr>
  <tr>
    <td>Gesamt</td>
    <td *ngFor="let spieler of spieler">{{ getGesamt(spieler) }}</td>
  </tr>
</table>
